<parallax>
	<!-- parallax cloud layers -->
	<img accelerate=".2" class="prlx small" id="one" src="/assets/cloud.png">
	<img accelerate=".2" class="prlx small" id="two" src="/assets/cloud.png"> 
	<img accelerate=".2" class="prlx small" id="three" src="/assets/cloud.png">
	<img accelerate=".2" class="prlx small" id="ten" src="/assets/cloud.png">

	<img accelerate=".5" class="prlx med" id="four" src="/assets/cloud.png">
	<img accelerate=".5" class="prlx med" id="five" src="/assets/cloud.png">
	<img accelerate=".5" class="prlx med" id="six" src="/assets/cloud.png">

	<img accelerate="2" class="prlx large" id="seven" src="/assets/cloud.png">
	<img accelerate="2" class="prlx large" id="eight" src="/assets/cloud.png">
	<img accelerate="2" class="prlx large" id="nine" src="/assets/cloud.png">

</parallax>


<div id="block_top">
<!-- background image for clouds -->
</div>


<div id="block_mid">
	<div id="project1"></div>
	<div id="project2"></div>
	<div id="project3"></div>
</div>


<div id="block_bottom">

</div>

